<footer class="footer">
    <ul>
        <li>
            <a href="{{ sulu_content_path('/', 'public') }}">
                Public Webspace
            </a>
        </li>
        <li>
            <a href="{{ sulu_content_path('/', 'login') }}">
                Login Webspace
            </a>
        </li>
        <li>
            <a href="{{ sulu_content_path('/', 'login_fr', 'fr') }}">
                Login FR Webspace
            </a>
        </li>
    </ul>
</footer>
